# All options comming from this file will be announced on the terminal.
common --announce_rc

# If a command fails, print out the full command line.
build --verbose_failures

# Print the full error of the test that fails.
test --test_output=all

# Temporary fix to bazel 9 missing internal cc_rules
# build --incompatible_autoload_externally=+@rules_cc

# Build options
# build --repo_env=BAZEL_CXXOPTS="-std=c++17"
build --color=yes

build --copt=-Wno-error=deprecated-declarations
build --copt=-Wno-macro-redefined
build --copt=-Wno-unused-command-line-argument
build --copt=-Wno-unused-but-set-parameter
build --copt=-Wno-unused-private-field

try-import %workspace%/.bazelrc.user